name: Hello world
on: 
  push: 
    branches: 
      - main
      - dev
      - 'release/**'
  pull_request:
    branches:
      - mains
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
    - name: Build step 
      run: echo "Hello, ${{ secrets.DOCKER_PASSWORD }}"
